@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'eUkraine';
    src: url('fonts/e-Ukraine-Regular.eot');
    src: url('fonts/e-Ukraine-Regular.woff2'),
         url('fonts/e-Ukraine-Regular.woff'),
         url('fonts/e-Ukraine-Regular.ttf');
    font-weight: 400;
    font-variant: normal;
  }

  @font-face {
    font-family: 'eUkraine';
    src: url('fonts/e-Ukraine-Medium.eot');
    src: url('fonts/e-Ukraine-Medium.woff2'),
         url('fonts/e-Ukraine-Medium.woff'),
         url('fonts/e-Ukraine-Medium.ttf');
    font-weight: 500;
    font-variant: normal;
  }

  @font-face {
    font-family: 'eUkraine';
    src: url('fonts/e-Ukraine-Bold.eot');
    src: url('fonts/e-Ukraine-Bold.woff2'),
         url('fonts/e-Ukraine-Bold.woff'),
         url('fonts/e-Ukraine-Bold.ttf');
    font-weight: 700;
    font-variant: normal;
  }

:root{
    --gray-bg: #161616;
    --dark: #050505;
}

html{
    scroll-behavior:smooth;
}

.container {
    width: 983px !important;
    margin: auto;
    margin-bottom: 2px !important;
    max-width: 100%;
    overflow: hidden;
    display: block;
    min-height: 100%;
    margin-basebottom: 50px;
  }

.big-title{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.k-changed{
    background-color: #00000017;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'eUkraine';
    font-weight: 400;
    font-display: fallback;
    
}

img[data-src]{
opacity: 0;
}

img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
}

a{
    color:inherit;
}

ul{
    padding-left: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

.txt-col-white{
    color: #fff !important;
}

.txt-col-red{
    color: rgb(241, 18, 18) !important;
}

.txt-col-dark{
    color: var(--dark) !important;
}

.txt-col-black{
    color: #000;
}

.mt-1{
    margin-top: 1rem !important;
}

.mt-2{
    margin-top: 2rem !important;
}

.mt-3{
    margin-top: 3rem !important;
}
.mb-05{
    margin-bottom: 0.5rem !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.mb-3{
    margin-bottom: 3rem !important;
}

.pt-0{
    padding-top: 0 !important;
}

.pt-1{
    padding-top: 1rem !important;
}

.pt-2{
    padding-top: 2rem !important;
}

.pt-3{
    padding-top: 3rem !important;
}

.pb-0{
    padding-bottom: 0 !important;
}

.pb-1{
    padding-bottom: 1rem !important;
}

.pb-2{
    padding-bottom: 2rem !important;
}

.pb-3{
    padding-bottom: 3rem !important;
}

b{
    font-weight: bold;
}

.block-title{
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.inst{
    margin-left: 5%;
    font-weight: 400;
    color: #fff;
    transition: 0.3s ease;
}
.inst:hover{
    transform: translateX(-5px);
    color: rgb(190, 190, 190);
}

.mob-menu-list{
    font-size: 38px;
}

.logo{
    align-items: baseline;
    font-family: 'eUkraine', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: translateX(12px);
    color: rgb(190, 190, 190);
}

li, a{
    font-family: 'eUkraine';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'eUkraine';
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: var(--dark);
}

.nav-btns{
    transform: translateY(6px);
    list-style: none;
}

.nav-btns li{
    display: inline-block;
    padding: 0px 13px;
    text-transform: uppercase;
}

.low-links-col{
    padding-inline: 2.5rem;
    color: #00000031;
}

.low-links-size{
    text-transform:unset;
    font-size: 12px;
    
}

.anim-03s{
    transition: 0.3s ease;
}

.anim-popup:hover{
    transform: translateY(-5px);
}

.low-links-size:hover{
    transform: scale(1.3);
}

.low-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.base .big-title h1{
    text-align: center; 
    font-size: 11vw; 
    color: #00000021;
    animation: 0.4s ease-out 0s 1 showBigTitle;
}

@keyframes showBigTitle {
    0% {
      transform: translateY(-5rem);
      opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.base{
    position: fixed;
    left: 0;
    right: 0;
    top: 190px;
}

.border-r{
    border-right: 1px solid gray;
}

.border-t{
    border-top: 1px solid gray;
}

.border-b{
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}

.border-b-nopadding{
    border-bottom: 1px solid gray;
}

.style-white-btn{
    background-color: white;
    color: #000;
    padding: 6px 12px 6px 12px;
    border-radius: 40px;
    transition: 0.3s ease;
}

.style-white-btn:hover{
    background-color: rgb(207, 207, 207);
    
}

.style-white-btn a:hover{
    color: #000;
}

.btns-container{
    display: flex;
    justify-content: center;
}

.p-bt-half{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.minline-minus{
    margin-inline: -1rem;
}

.lh12{
    line-height: 12px;
}

.lh14{
    line-height: 14px;
}

.avatar-img img{
    height: 100%;
}

.nav-label{
    font-family: 'eUkraine';
    font-weight: 400;
    font-size: 10px;
    color:#fff;
    transition: 0.3s ease;
}
.nav-label:hover{
    color: rgb(196, 196, 196);
    font-weight: 700;
    font-size: 14px;
}

.nav-main{
    font-family: 'eUkraine';
    font-weight: 700;
    font-size: 14px;
    color:#fff;
    transition: 0.3s ease;
}

.nav-main:hover{
    color: rgb(196, 196, 196);
}

.fab{
    font-size: 32px;
}

.fas{
    font-size: 32px;
}

.youtube-preview{
    width: 100%;
    object-fit: none;
    border-radius: 0 0 9px 9px;
}

.big-image{
    position: relative;
    border-radius: 0px 0px 19px 19px;
    max-width: 100%;
    height: 385px;
    object-fit: cover;
}

.about{
    display: flex;
    border-radius: 0px 19px 19px 0px;
    transition: 0.3s ease;
}

.about:hover{
    transform: scale(1.02);
}

.avatar{
    width: 100%;
    object-fit: cover;
    border-radius: 19px 0px 0px 19px;
}

.text-center{
    text-align: center;
}

.play_icon{
    background-color: #161616;
}

.bi-play-btn-fill{
    color: #fff;
}

.vid-pop{
    transition: 0.3s ease;
    cursor: pointer;
}

.vid-pop:hover{
    transform: scale(1.02);
}

.caption-container{
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: var(--gray-bg);
    border-radius: 0px 19px 19px 0px;
}

.caption-container h2{
    margin-top: 20px;
    color: #fff;
    background-color: var(--gray-bg);
}

.caption-container h4{
    color: #FDB968;
    background-color: var(--gray-bg);
    font-size: 12px;
}

.caption-container p{
    padding-top: 15px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: 'eUkraine';
    background-color: var(--gray-bg);
}

.about-social{
    display: flex;
    justify-content: end;
}

.about-social a{
    align-self: center;
    margin-left: 24px;
    padding: 4px 18px;
    border-radius: 16px;
    color: #000;
    background-color: #fff;
    transition: 0.3s ease;
}

.about-social a:hover{
    transform: translateY(1px);
    background-color: rgb(219, 219, 219);
}

.footer {
    padding: 15px 0;
    clear: both;
    position: relative;}

.footer p{
    font-size: 10px;
    font-family: 'eUkraine';
    font-weight: 300;
    opacity: 0.6;
    text-align: center;
    color: #fff;
}

.bg-transp{
    background-color: transparent;
}

.card-title-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.price{
    margin-bottom: 2rem;
}

.card-title-price h2{
    font-weight: 700;
}

.card-title-price p{
    font-weight: 400;
    font-size: 10px;
}

.price-photo{
    padding: 2rem;
    border-radius: 10px;
    background: #fff !important;
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;
    transition: 0.3s ease;
}

.price-photo:hover{
    transform: scale(1.02);
}

.warning{
    color: rgb(240, 26, 26) !important;
    font-weight: 700;
}

.price-video{
    padding: 2rem;
    border-radius: 10px;
    background: #fff !important;
    padding-bottom: 0.2rem;
    transition: 0.3s ease;
}

.price-video:hover{
    transform: scale(1.02);
}

.fw300{
    font-weight: 300 !important;
}
.fw400{
    font-weight: 400 !important;
}
.fw500{
    font-weight: 500 !important;
}
.fw600{
    font-weight: 600 !important;
}
.fw700{
    font-weight: 700 !important;
}
.fw800{
    font-weight: 800 !important;
}
.fw900{
    font-weight: 900 !important;
}
.fw1000{
    font-weight: 1000 !important;
}

.fs5{
    font-size: 5px !important;
}

.to-under-footer{
    margin-bottom: 0;
}

.fs10{
    font-size: 10px !important;
}
.fs12{
    font-size: 12px !important;
}
.fs13{
    font-size: 13px !important;
}
.fs14{
    font-size: 14px !important;
}
.fs15{
    font-size: 15px !important;
}
.fs16{
    font-size: 16px !important;
}
.fs18{
    font-size: 18px !important;
}
.fs20{
    font-size: 20px !important;
}
.fs24{
    font-size: 24px !important;
}
.fs32{
    font-size: 32px !important;
}

.alert-window-tech{
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin: 20%;
    margin-top: 15% !important;
    margin-bottom: 15% !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border-radius: 4px;
}

.alert-btn{
    display: block;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
    border-radius: 40px;
}

.alert-window-tech a{
    font-family: 'eUkraine';
    display: inline-block;
    width: 35%;
    padding: 7px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
}

.alert-window-tech h3{
    font-weight: 700;
    font-size: 20px;
    

}



.dropdown{
    display: none;
}
.mobile-menu{

    display: none;
    color: #fff !important;
    margin: auto;
}

@keyframes ScaleOut {
    0% {
      transform: scale(0);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.container-tech{
    animation: 0.5s ease-out 0s 1 ScaleOut;
}
.row-mobile{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.col-mb-vid{
    margin: 0 1rem;
}

.base .column-r{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.base .column-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base .column-l{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


iframe{
    border-radius: 0px 0px 8px 8px;
  }

  .mobile__navmenu{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: #050505;
    padding-bottom: 45%;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 34px;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile_menu_close{
    position: fixed;
    bottom: 20%;
    font-weight: 700;
    font-size: 48px;
    color: #ff4242 !important;
  }

  .mobile_menu_title{
    position: fixed;
    top: 5%;
    color: #fff;
    border-bottom: 2px solid #fff3;
    padding-bottom: 1rem;
    font-weight: 700;
    width: 75%;
  }

  .language_mobile_menu{
    border-top: 2px solid #ffffff54;
    padding-top: 1rem;
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: -1.3rem;
    bottom: 5%;
  }

  .mobile__navmenu a{
      color: #fff;
  }

  .title-vid p{
    display: contents;
  }

  .album{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    }

  .col-album{
    height: 125px;
    width: 230px;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .col-album-big{
    width: 1000px;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .col-album-big:hover{
    transform: scale(1.01);
}

  .col-album:hover{
      transform: scale(1.1);
  }

  .col-album:hover .album-title{
      opacity: 1;
  }

  .col-album:hover .album-icon{
      opacity: 0;
  }

  .col-album:active{
    transform: scale(1);
}

  .col-album:active .album-title{
    opacity: 0;
}

  .album-title{
    text-align: center;
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    transition: 0.3s ease;
  }
  
  .row-album{
      width: -webkit-fill-available;
      display: inline-flex;
  }

  .album-icon{
    position: absolute;
    font-size: 14px;
    bottom: 12%;
    right: 8%;
    opacity: 0.8;
    color:#fff;
    transition: 0.3s ease;
  }

@media screen and (max-width: 990px) {
    .album{
        max-width: -webkit-fill-available !important;
    }
}

/* IOS and Mobile*/
@media screen and (max-width: 600px) {

    .album-icon{
        font-size: 26px;
        bottom: 11px;
    }

    .row-mobile{
        display: flex;
    }

    .base .big-title h1{
        text-align: center; 
        font-size: 22vw; 
        color: #00000021;
    }

    .low-links-col{
        margin-top: 1rem;
    }

    .low-links-size{
        font-size: 3vw;
    }

    .language{
        display: none;
    }

    #w-portf{
        display: inline-flex;
        position: absolute;
        bottom: 5px;
        left: 50% !important;
        transform: translateX(-50%);
    }

    .nav-btns{
        visibility: hidden;
    }

    .inst{
        display: none;
    }

    .dropdown{
        display: inline-block;
    }

    .mobile-menu{
        display: flex;
    }

    .container-tech{
        animation: 0.5s ease-out 0s 1 ScaleOut;
    }

    .avatar{
        width: 100%;
    }

    .big-image{
        height:100%;
        border-radius: 0;
    }
    .about-social{
        justify-content: center;
    }

    .alert-window-tech{
        margin: 0;
        margin-top: 45%;
        padding-bottom: 5%;
        margin-bottom: 20%;
    }

    @keyframes ScaleOut {
        0% {
          transform: scale(0);
        }
        70% {
            transform: scale(1);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .alert-window-tech a{
        display: inline-flex;
        justify-content: center;
        padding: 7px;
        background-color: #000;
        color: #fff;
        border-radius: 40px;
        align-content: center;
        align-items: center;

    }

    .row-mobile{
        display: block !important;
    }

    
    .logo{
        margin-left: 12px !important;
        display: flex;
        align-items: baseline;
    }
    .about{
        display: grid;
        justify-content: center;
        border-radius: 0px 0px 19px 19px;
    }
    .caption-container{
        padding-bottom: 32px;
        border-radius: 0px 0px 19px 19px;
    }
    
    .caption-container h2{
        text-align: center;
        font-size: 32px;
        margin-top: 15px;
    }
    
    .caption-container h4{
        text-align: center;
        font-size: 14px;
    }

    .about-social a{
        text-align: right;
    }
    
    .caption-container p{
        padding-top: 36px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .info-bg{
        margin-bottom: 1rem;
    }

    #btn-back-to-top {
        bottom: 50px !important;
        right: 40px !important;
    }

    .album-title{
        font-size: 22px;
    }

    .col-album{
        height: auto !important;
        width: 100%;
    }

    .col-mb-vid{
        margin: 0 0;
    }

    .big_image{
        display: none;
    }

}

.overlay img{
    width: fit-content;
}

.f-cuprum{
    font-family: 'Cuprum', sans-serif !important;
}

.f-overpass{
    font-family: 'Overpass', sans-serif !important;
}

.f-oswald{
    font-family: 'Oswald', sans-serif !important;
}

.f-ua{
    font-family: 'eUkraine' !important;
}

.bi-arrow-up-short{
    font-size: 32px;
}

.bi-instagram{
    font-size: 24px;;
}

#btn-back-to-top {
    box-shadow: 0px 0px 6px #00000046;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 4px 13px;
    border-radius: 40px;
    color: #000;
    background-color: #fff;
    display: none;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
  }

  #btn-back-to-top:hover{
    background-color: rgb(216, 216, 216);;
  }

  #btn-back-to-top:active{
    background-color: rgb(32, 32, 32);
    color: #fff;
  }

  .vid-title-block{
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid;
  }

  .title-vid{
    background-color: #fff;
    justify-content: center;
    display: flex;
    border-radius: 8px 8px 0px 0px;
  }

  .col-mb{
    margin-bottom: 1.6rem;
  }



  .spinner-container{
    transition: 0.3s ease;
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #000000;
}

.spinner{
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 50%;
    border-radius: 9px;
}
